html{
    scroll-behavior: smooth;
}

body{
    background-color: lightgrey;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    z-index: 1;
}
  
.skip a:focus{
/*Add the selector and rule to move the skip link to the exact top.*/
    top: 0px;
}
  
*:focus{
    border: 2px solid black;
}


    .container{
       display: grid;
       grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
       grid-template-columns: 1fr;
       grid-row-gap: 50px;
       align-items: center;
       justify-items: center;
   }

   .container-projects{
       display: grid;
       align-items: center;
       justify-items: center;
       grid-template-columns: 100%;
       grid-template-rows:auto auto auto auto auto auto auto auto;
       grid-row-gap: 50px;
   }

   .container-leadership{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows:auto auto auto auto auto auto auto auto auto auto;
    grid-row-gap: 50px;
   }

   .container-photos{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
    grid-row-gap: 50px;
    align-items: center;
    justify-items: center;
}
    
    .container-contact{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
    grid-row-gap: 50px;
    align-items: center;
    justify-items: center;
    }

   .nav{
       grid-column-start: 1;
       grid-column-end: -1;
       text-align: center;
       width: 100%;
       background-color: #326DED;
       color: white;
       padding: 30px 0px 30px 0px;
   }
   .nav h1{
       text-align: center;
       font-size: 30px;
   }

   .nav ul{
       list-style-type: none;
       overflow: hidden;
       padding: 20px 0px 0px 0px;
       line-height: 2;
   }

   .nav ul li{
       display: inline;
   }

   .nav ul a{
       color: white;
       text-align: center;
       text-decoration: none;
   }

   .nav ul a:hover {
       background-color: grey;
       color: black;
   }

   .nav .current{
       color: black;
   }


   h2{
    font-size: 24pt;
    padding: 0px 0px 10px 0px;
    text-align: center;
}

    h1{
        font-size: 60pt;
    }

    p{
        text-align: center;
        padding: 15px;
    }

    a{
        padding: 15px;
        color: #595959;;
    }

    a:hover{
        color: black;
    }

   #welcome{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    color: white;
    background-image: url(../images/aafall.jpg);
    padding: 130px 0px 130px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px black;
    background-attachment: fixed;
    width: 100vw;

}

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

#welcome h1{
    -webkit-animation-name: fadeIn; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: 'fadeIn';
    animation-duration: 3s;
    background-color: black;
}

.about-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    /*border: 2px solid #0798FB;*/
}

.about-text h2{
    text-align: center;
}

.about-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.about-image img{
    max-height: 350px;
    max-width: 350px;
}

.education-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    display: inline-block;
}
.education-text h3{
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.education-text p{
    text-align: center;
}

.education-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}

.education-image img{
    max-width: 350px;
}

.work-experience-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;

}

.kellogg{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
    text-align: center;
}

.bpz{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10;
    text-align: center;
}
 
.kellogg-image img{
    max-height: 125px;
    max-width: 325px;
}

.bpz-image img{
    max-width: 350px;
}

.kellogg-description p{
    text-align: center;
}

.bpz-description p{
    text-align: center;
}


.contact-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 11;
    text-align: center;
}

.contact-image-descriptions ul{
    list-style: none;
    text-align: center;
}

.contact-image-descriptions li{
    padding: 5px;
}

.contact-image-descriptions{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 12;
}

footer{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: -1;
    grid-row-end: -1;
    background-color: #326DED;
    font-size: 20px;
    width: 100vw;
    text-align: center;
    position: relative;
    bottom: 0;

}

footer h1{
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
}

.insetshadow{
    color: #2c2c2c;
    background-color: #326DED;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #326DED,
      7px 7px 0px rgba(0, 0, 0, 0.2);
}

/*this is for the projects page */

#project-header{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.burma-center-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.burma-center-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.burma-center-image img{
    max-height: 300px;
    max-width: 300px;
}

.truck-monitoring-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;

}

.truck-monitoring-text h2{
    text-align: center;
}

.truck-monitoring-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}

.truck-monitoring-image img{
    max-height: 300px;
    max-width: 300px;
}

.gatorsync-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;

}

.gatorsync-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;

}

.gatorsync-image img{
    max-height: 350px;
    max-width: 350px;
}

/* this is for the leadership tab*/

#leadership-header{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#leadership-header h1{
    font-size: 45pt;
}

.mrun-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.mrun-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.mrun-image img{
    max-width: 350px;
}

.joybol-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

.joybol-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}

.joybol-image img{
    max-width: 350px;
}

.ram-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
}

.ram-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
}

.ram-image img{
    max-width: 350px;
}

.campus-band-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10;
}

.campus-band-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 11;
}

.campus-band-image img{
    max-width: 350px;
}

/* this is for the photos tab */

#photos-header{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.photos-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.photos-size img{
    max-width: 350px;
    margin: 0px 0px 50px 0px;
}
.photo-size{
    grid-row-start: 3;
    grid-row-end: 4;
}

/* this is for the contact page*/

#contact-header{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#contact-header h1{
    text-align: center;
}

form{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.form-group{
    padding: 10px;
}

input{
    height: 50px;
    width: 350px;

}

textarea{
    height: 60px;
    width: 350px;
}

.text-center{
    text-align: center;
}

@media screen and (min-width: 768px) {
.container{
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    align-items: center;
}

.container-projects{
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    align-items: center;
}

.container-leadership{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto auto auto auto auto auto;
    grid-row-gap: 50px;
   }

   .container-photos{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    align-items: center;
    justify-items: center;
}
    
    /*.container-contact{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    align-items: center;
    justify-items: center;
    }*/

.nav{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    background-color: #326DED;
    color: white;
    text-align: right;
    height: 50px;
}
.nav h1{
    text-align: left;
    font-size: 28pt;
    position: absolute;
    left: 40px;
    top: 40px;
}

.nav ul a{
    color: white;
    text-align: right;
    text-decoration: none;
}

.nav ul{
    list-style-type: none;
    overflow: hidden;
    padding: 20px 0px 20px 0px;
    position: absolute;
    top: 28px;
    right: 5px;
}

.nav ul li{
    display: inline;
    text-align: right;
}

#welcome{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;

}

.about-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.about-text p{
    max-width: 400px;
}


.about-image{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.about-image img{
    max-height: 350px;
    max-width: 350px;
}

.education-text{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.education-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
.education-image img{
    max-height: 350px;
    max-width: 350px;
}
.work-experience-text{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;

}

.work-experience-text h2{
    font-size: 40pt;
    text-decoration: underline;
}

.kellogg{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}

.kellogg-description p{
    text-align: center;
}

.bpz-description p{
    text-align: center;
}

.bpz{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

.bpz-image img{
    max-width: 400px;
}

.contact-text{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: center;
}

.contact-text h2{
    font-size: 40pt;
    text-decoration: underline;
    padding: 0px 0px 40px 0px;
}

.contact-image-descriptions ul{
    list-style-type: none;
    overflow: hidden;
}

.contact-image-descriptions ul li{
    display: inline;
}

.contact-image-descriptions{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
}

.contact-image-descriptions a{
    font-size: 24pt;
}

footer{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: -1;
    grid-row-end: -1;
    width: 100%;
    position: relative;
    bottom: 0;
}

/* this is for the projects page*/

#project-header{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.burma-center-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    max-width: 450px;
}


.burma-center-image{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.truck-monitoring-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    max-width: 450px;

}

.truck-monitoring-image{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.gatorsync-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    max-width: 450px;

}

.gatorsync-image{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

/*this is for the leadership page */

#leadership-header{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.mrun-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.mrun-text p{
    max-width: 400px;
}

.mrun-image{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.mrun-image img{
    max-height: 350px;
    max-width: 350px;
}
.joybol-image img{
    max-height: 350px;
    max-width: 350px;
}
.ram-image img{
    max-height: 350px;
    max-width: 350px;
}
.campus-band-image img{
    max-height: 350px;
    max-width: 350px;
}

.joybol-text{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.joybol-text p{
    max-width: 400px;
}

.joybol-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.ram-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

.ram-text p{
    max-width: 400px;
}

.ram-image{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.campus-band-text{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

.campus-band-text p{
    max-width: 400px;
}

.campus-band-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}

/* this is for the photos page */

#photos-header{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.photos-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4; 
}

.photos-text p{
    text-align: center;
    max-width: 800px;
}

.photos-size img{
    max-width: 350px;
    max-height: 350px;
    padding: 20px;
}

.photos-size{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.mrun1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;

}

.mrun2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

}

.mrun3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;

}

.mrun4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.mrun5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;

}

.mrun6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

.mrun7{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;


}

.mrun8{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;

}

.mrun9{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
}


/*this is for the contact page*/

.form{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#contact-header{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

}



@media screen and (min-width: 1200px) {
    #welcome{
        padding: 200px 0px 200px 0px;
    }

    .about-image img{
        max-height: 450px;
        max-width: 450px;
    }

    .education-image img{
        max-height: 450px;
        max-width: 450px;
    }

    /*this is for the projects page*/

.mrun-image img{
    max-height: 450px;
    max-width: 450px;
}
.joybol-image img{
    max-height: 450px;
    max-width: 450px;
}
.ram-image img{
    max-height: 450px;
    max-width: 450px;
}
.campus-band-image img{
    max-height: 450px;
    max-width: 450px;
}

    /*this is for the photos page*/
    .container-photos{
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
        align-items: center;
        justify-items: center;
    }

    .photos-size img{
        max-width: 350px;
        max-height: 350px;
        padding: 20px;
    }
    
    .photos-size{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr 1fr;
        -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    .mrun1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    
    }
    
    .mrun2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    
    }
    
    .mrun3{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    
    }
    
    .mrun4{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    
    .mrun5{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    
    }
    
    .mrun6{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    
    .mrun7{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    
    .mrun8{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    
    }
    
    .mrun9{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
    }

}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: initial;
    }
  
    .skip a{
      background: white;
      left: 0;
      padding: 6px;
      position: absolute;
      top: -40px;
      -webkit-transition: none;
      transition: none;
      z-index: 1;
    }
  
    .skip a:focus{
      top:0;
    }
  }